[submodule "themes/eternity"]
	path = themes/eternity
	url = https://github.com/boratanrikulu/eternity.git
[submodule "themes/hugo-cloak-email"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
